body {
	background-image:url(https://images7.alphacoders.com/370/370795.jpg);
	color:black;
	background-color:white;
	background-attachment:fixed;
	background-size: cover;
	width:100%;
}

#info {
	position: relative;
	color:#e6e8ed;
	background-color: #273153;
	border-radius: 30px;
	font-family: 'Open Sans Condensed', sans-serif;
	border: 1px solid black;
	margin: 50px 30px 0px 30px;
	padding: 45px 0px 40px 0px;
}

#info ul li {
	list-style: none;
	font-family: 'Abel', sans-serif;
}

#left {
	margin: 50px 50px 50px 50px;
	border: 1px solid black;
}

.navbar {
	margin: auto;
}

nav ul {
	list-style-type: none;
	overflow: hidden;
	background-color: #2D4E73;
	text-align: center
}

nav ul li {
	display: inline;
	padding:15px 28px 15px 28px;
	border-radius: 5px;
	float: center;
}

nav a:hover{
	color:black;
}

li a {
	color: #b71919;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	text-decoration: none;
	border-radius: 5px
}

nav.navbar.navbar-default {
	border-radius: 5px;
	border: none;
	background: none;
	margin-top: 50px;
}

.navbar-default .navbar-nav li a{
    color:#e6e8ed; 
}


.navbar-header {
	background-color: #F8F8FA;
	border-radius: 5px;
}

#a-propos {
	display: block;
	border: 1px solid #F8F8FA;
	background-color:#F8F8FA;
	border-radius: 20px 20px 20px 20px;
	padding: 10px 40px 20px 40px;
	margin: 35px 30px 0px 30px;
	text-align: justify;
}

.element-propos {
	text-align: center;
}


.btn-primary {
    color: #e6e8ed;
    background-color: #2D4E73;
    border-color: #2D4E73;
    font-family:'Abel';
}

.modal-body {
	font-family:'Abel';
	font-size: 16px; 
}

.modal-title {
	font-family:'Abel';
	font-size: 20px;
	font-weight: bold;
	color:#2D4E73;
}

.btn-default {
	background-color: #89ABBE;
	border-color: #89ABBE;
	font-family: 'Abel';
}

.close:hover {
	color: red;
}

#exp-pro {
	display: block;
	border: 1px solid #F8F8FA;
	background-color:#F8F8FA;
	border-radius: 20px 20px 20px 20px;
	padding: 10px 40px 20px 40px;
	margin: 35px 30px 0px 30px;
	text-align: justify;
}
#formation {
	display: block;
	border: 1px solid #F8F8FA;
	background-color:#F8F8FA;
	border-radius: 20px 20px 20px 20px;
	padding: 10px 40px 20px 50px;
	margin: 35px 30px 0px 30px;
	text-align: justify;
}
#comp-cert {
	display: block;
	border: 1px solid #F8F8FA;
	background-color:#F8F8FA;
	border-radius: 20px 20px 20px 20px;
	padding: 10px 40px 20px 40px;
	margin: 35px 30px 0px 30px;
	text-align: center;
}

#cent-int {
	display: block;
	border: 1px solid #F8F8FA;
	background-color:#F8F8FA;
	border-radius: 20px 20px 20px 20px;
	padding: 10px 40px 0px 40px;
	margin: 35px 30px 0px 30px;
	text-align: justify;
}

.interet {
	display:inline-block;
	text-align:center;
	width: 33%;
	vertical-align: top;
	text-align: center;
}

#contact {
	display: block;
	border: 1px solid #F8F8FA;
	background-color:#F8F8FA;
	border-radius: 20px 20px 20px 20px;
	padding: 20px 40px 0px 40px;
	margin: 35px 30px 50px 30px;
	text-align: center;
}

.bouton-mail {
    color: white;
    border-radius: 6px;
    background: #2D4E73;
    text-decoration:none;
    font-family: 'Open Sans Condensed', sans-serif;
}

footer {
	border: 1px solid #3a3a3a;
	background-color:#3a3a3a;
	width:100%;
	color: white;
	text-align: center;
	text-decoration: none;
}

.parent {
    background-color: #3a3a3a ;
    height: 40px;
}

.hidden-box {
    display: none;
    background-color: #2D4E73 ;
    border-radius: 10px;
    text-align: center;
    width: 1000px;
    height: 40px;
    padding-top: 15px;
    transition: background-color 3s ease-out;
    margin: auto;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
}

.hidden-box:hover {
    background-color: #F8F8FF ;
    color: black ;
    cursor: pointer;
}

.parent:hover .hidden-box {
    display: block;
}*/

h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 50px;
	margin: 4px;
}

h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 40px;
	color: #2D4E73;
}

h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
	color: #2D4E73;
}
p {
	font-family: 'Abel', sans-serif;
	font-size: 20px;
}

span {
	color: #2F6BAC;
}

/*.subtitle {
  margin: 0 0 2em 0;
}
.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 4px;
  border-bottom: 0.5px solid black;
  border-top: 0.5px solid black;
  top: 7px;
  width: 500px;
  vertical-align: center;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}*/




@media (max-width:320px) {  /*small mobile*/
  h2 {
    font-size:20px;
  }
}
@media (min-width:321px) and (max-width:959px) {  /*tablet*/
  h2 {
    font-size:30px; 
  }
}
@media (min-width:960px) and (max-width:1599px) {  /*desktop*/
  h2 {
    font-size:40px;
  }
}
@media (min-width:1600px) {  /*desktop and tv*/
  h2 {
    font-size:60px;
  }
}